ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

li {
    flex: 1 1 calc(33.33% - 20px);
    max-width: 125px;
}

@media (max-width: 768px) {
    li {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    li {
        flex: 1 1 100%;
    }
}

.Introduction {
    display: block; 
    width: 100%;    
    background-color: #e0e0e0; 
    padding: 20px;  
    
    margin-top: 60px; 
  }
  

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px; 
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 calc(30% - 20px);
    text-align: center;
    border-radius: 10px;
    padding: 1px;
    box-sizing: border-box;
}

.card-name {
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-top: 1px solid #000000;
}

.member-image {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    object-fit: cover;
    object-position: top;
}

.member-image:hover {
    transform: scale(1.05);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 900px;
    width: 100%;
}

.modal-body {
    display: flex;
    align-items: center;
    gap: 20px;
}

.modal-image {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.modal-info {
    flex: 1;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #607fe4;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.close-modal:hover {
    background-color: #607fe4;   
}